.gaming-library-card {
  flex: 1 1 100%;
}
.gaming-library-card ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-primary);
  padding: calc(var(--padding-primary) / 2);
  flex-wrap: wrap;
  gap: 15px 10px;
}

.gaming-library-card h4 {
  font-size: 1rem;
}
.gaming-library-card span {
  font-size: 0.9rem;
  color: #868e96;
}

@media screen and (max-width: 992px) {
  .gaming-library-card ul li,
  .gaming-library-card ul div {
    flex: 1 25%;
    font-size: 14px;
  }
  .gaming-library-card-image {
    flex: 1 100% !important;
  }
  .gaming-library-card-image img {
    width: 100%;
  }
}
